---
import MiFoto from "../../assets/img/MiFoto.png";
---

<!-- Contenedor principal -->
<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <!-- Imagen -->
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={MiFoto.src}
      alt="Foto de Daniel"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Texto -->
  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      Mi nombre es <span class="text-white text-shadow">Daniel Esteban</span>
    </h2>

  <p class="mt-4">
    Soy de <span class="text-primary font-semibold">Colombia</span> y soy
    <span class="text-primary font-semibold">
      {" "}Desarrollador Backend (Laravel)
    </span>,
    con experiencia profesional en el desarrollo de aplicaciones web
    empresariales y sistemas en producción.
  </p>

  <p class="mt-2">
    He trabajado principalmente en el diseño e implementación de
    <span class="text-primary italic">
      {" "}APIs REST, lógica de negocio, autenticación, roles y permisos
    </span>,
    utilizando tecnologías como Laravel, PHP, MySQL y PostgreSQL, dentro de
    plataformas multiempresa orientadas a procesos empresariales.
  </p>

  <p class="mt-2">
    Cuento con experiencia real en
    <span class="text-primary font-semibold">
      {" "}mantenimiento y evolución de sistemas en producción
    </span>,
    incluyendo validación de datos, procesamiento de archivos Excel/CSV,
    corrección de incidencias y despliegues en entornos Linux con Apache.
  </p>

  <p class="mt-2">
    Como complemento, he trabajado en integración con frontend utilizando
    <span class="text-primary italic">
      {" "}Vue.js y JavaScript
    </span>,
    así como en el desarrollo de PWAs y aplicaciones móviles cuando el proyecto
    lo requiere.
  </p>

  <p class="mt-2">
    Soy <span class="text-primary font-semibold">Ingeniero Físico</span>,
    formación que me ha permitido desarrollar un fuerte pensamiento analítico
    y una alta capacidad para resolver problemas complejos aplicados al
    desarrollo de software.
  </p>

  <p class="mt-2">
    Me caracterizo por un enfoque de
    <span class="text-primary font-semibold">
      {" "}responsabilidad técnica, aprendizaje continuo
    </span>
    y cuidado de la estabilidad de los sistemas. Mi objetivo es seguir
    creciendo como desarrollador backend, aportando soluciones robustas,
    claras y mantenibles.
  </p>

  </div>
</div>
