---
import MiFoto from "../../assets/img/MiFoto.png";
---

<!-- Contenedor principal -->
<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <!-- Imagen -->
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={MiFoto.src}
      alt="Foto de Daniel"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Texto -->
  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      Mi nombre es <span class="text-white text-shadow">Daniel Esteban</span>
    </h2>

    <p class="mt-4">
      Soy de <span class="text-primary font-semibold">Colombia</span> y soy
      <span class="text-primary font-semibold">
        {" "}desarrollador full-stack y Ingenierio Físico
      </span>,
      con experiencia en construcción de aplicaciones web, PWAs
      multiempresa, optimización de interfaces, y desarrollo de soluciones
      orientadas a procesos empresariales.
    </p>

    <p class="mt-2">
      He trabajado con tecnologías como{" "}
      <span class="text-primary italic">
        Laravel, Vue.js, JavaScript, PHP, MySQL, Tailwind, Bootstrap,
        React Native (Expo), Node.js y APIs REST
      </span>,
      creando sistemas completos de tickets, gestión de compañías, módulos
      administrativos, flujos de autenticación y sistemas de notificación.
    </p>

    <p class="mt-2">
      Durante mi carrera he participado en proyectos de{" "}
      <span class="text-primary font-semibold">
        desarrollo web, análisis energético, cálculo solar, simulaciones
        físicas, bases de datos, procesamiento de información y automatización
      </span>.
      También he trabajado en optimización de UX/UI para aplicaciones móviles
      y web, creación de PWAs personalizadas y despliegues en producción y
      ambientes de desarrollo.
    </p>

    <p class="mt-2">
      Además, cuento con experiencia en{" "}
      <span class="text-primary font-semibold">desarrollo backend</span> para
      sistemas de órdenes, validación de datos mediante Excel/CSV, y
      mantenimiento de servidores Linux/Apache para entornos Laravel.
    </p>

    <p class="mt-2">
      Me caracterizo por un enfoque de{" "}
      <span class="text-primary font-semibold">aprendizaje constante</span>,
      investigación técnica y capacidad para resolver problemas complejos
      desde la ingeniería y la programación. Mi objetivo es seguir creciendo
      profesional y personalmente, aportando soluciones eficientes y bien
      diseñadas.
    </p>
  </div>
</div>
